@model IEnumerable<ProyectoWeb24AM.Models.Entities.Promocion>

@{
    Layout = "_LayoutDashboard";
}

<h1>Vista de Promociones</h1>

<div class="row">
    <div class="offset-10 col-4 mb-4">
        <a asp-action="Crear" asp-controller="Promocion" class="btn-success mx-auto btn-lg">
            <i class="fa-solid fa-user"></i>Nuevo
        </a>
    </div>
</div>

<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de promociones</strong></h1>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblPromocion" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@Html.DisplayNameFor(x => x.Descuento)</th>
                                    <th>@Html.DisplayNameFor(x => x.FechaInicio)</th>
                                    <th>@Html.DisplayNameFor(x => x.FechaFin)</th>
                                    <th>@Html.DisplayNameFor(x => x.Articulo.Nombre)</th>
                                    <th>@Html.DisplayNameFor(x => x.Articulo.Descripcion)</th>
                                    <th>@Html.DisplayNameFor(x => x.Articulo.Precio)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><span>@(i++)</span></td>
                                        <td>@Html.DisplayFor(x => item.Descuento)</td>
                                        <td>@Html.DisplayFor(x => item.FechaInicio)</td>
                                        <td>@Html.DisplayFor(x => item.FechaFin)</td>
                                        <td>@Html.DisplayFor(x => item.Articulo.Nombre)</td>
                                        <td>@Html.DisplayFor(x => item.Articulo.Descripcion)</td>
                                        <td>@Html.DisplayFor(x => item.Articulo.Precio)</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Editar" asp-controller="Promocion" asp-route-id="@item.PKPromocion">
                                                <i class="fa-solid fa-pen-to-square"></i> Editar
                                            </a>
                                            <a class=" btn btn-danger eliminar-promocion" data-id="@item.PKPromocion"> <i class="fa-solid fa-delete-left"></i> Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.eliminar-promocion').on('click', function () {
                var botonEliminar = $(this);

                Swal.fire({
                    title: "¿Estás seguro de que deseas eliminar esta promoción?",
                    text: "No podrás revertir esto.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, deseo borrar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        var promocionId = botonEliminar.data('id');

                        $.ajax({
                            url: '/Promocion/Eliminar/' + promocionId,
                            type: 'DELETE',
                            success: function (data) {
                                console.log(data);

                                if (data.success) {
                                    // Eliminar la fila de la tabla
                                    botonEliminar.closest('tr').remove();

                                    Swal.fire({
                                        title: "Eliminando",
                                        text: "Ha sido eliminado correctamente.",
                                        icon: "success",
                                        timer: 4000
                                    });
                                } else {
                                    Swal.fire({
                                        title: "Error",
                                        text: "No se pudo eliminar la promoción.",
                                        icon: "error",
                                        timer: 4000
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    title: "Error",
                                    text: "Se produjo un error al procesar la solicitud.",
                                    icon: "error",
                                    timer: 4000
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}

